button {
  outline: none;
}

.Stocks-List-Page {
  background-color: #f0f4f7;
}

.Stocks-List-Page main li {
  border-top: 1px solid #e5e5e5;
}

.content-container {
  background-color: #ffffff;
}

.stokr-logo-container > span {
  font-family: LucidaGrande, serif;
  font-size: 39px;
  font-weight: bold;
  text-align: left;
  color: #41bf15;
}

.comp-name {
  font-family: 'Nunito', sans-serif;
  /*font-family: Avenir, serif;*/
  font-size: 33px;
  font-weight: 200;
  text-align: left;
  color: #59737c;
}

.comp-stock-price {
  font-family: HelveticaNeueW01-55Roman, serif;
  font-size: 30px;
  text-align: left;
  color: #59737c;
}

.daily-change-positive {
  background-color: #63da39;
  border-color: #63da39;
}

.daily-change-negative {
  background-color: #ff4f46;
  border-color: #ff4f46;
}

.daily-change {
  border-radius: 10px;

  font-family: Avenir, serif;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.up-down-buttons button:first-child {
  background-color: #ababab;
}

.up-down-buttons button:last-child {
  background-color: #ababab;
}

[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.functional-buttons-container > div > button {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 2rem;
  color: #ababab;
}

.functional-buttons-container > div {
  width: 67px;
  height: 44px;
}


.icon-search:before {
  content: '\0045';
}
.icon-refresh:before {
  content: '\0043';
}
.icon-a:before {
  content: '\0042';
  background-color: transparent;
}
.icon-settings:before {
  content: '\0046';
}

